.login-title-font{
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
}

.login-link
{
    color: rgb(74, 74, 74);
    text-decoration: none;  
    transition: 0.3s;
}

.login-link:hover
{
    color: #151515;
    text-decoration: none;  
    transition: 0.3s;

}

.text-right {
    text-align: right;
}

.navbar-vertical.navbar-expand-xs .navbar-collapse {
 height: calc(100vh - 130px) !important;
}